# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
.swiftpm/

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Distribution
dist/

# Editors
.vscode/
*.swp
*.swo
